* {font-family: alisandra; 
    text-transform: capitalize;
    text-align: center;}


h1 {
    color:red;
    font-family: story-basty;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
}

p{
    font-family: satisfy-regular;
    font-size: 50px;

}

@font-face {
    font-family: alisandra;
    src: url(../font/Alisandra\ Demo.ttf);
}

@font-face {
    font-family: satisfy-regular;
    src: url(../font/Satisfy-Regular.ttf);
}

@font-face {
    font-family: story-basty;
    src: url(../font/story-basty.regular.ttf);
}
